[
    {
        "depotPath": "//gl-exporter/...",
        "branchConfig": [
            {
                "branch": "main"
            },
            {
                "branch": "release-1"
            }
        ],
        "lfs": true,
        "lfsTrack": [
            "*.png",
            "*.jpg",
            "*.jpeg",
            "*.gif",
            "*.tiff",
            "*.bmp",
            "*.psd",
            "*.tga",
            "*.expr",
            "*.mp4",
            "*.mov",
            "*.avi",
            "*.mkv",
            "*.flv",
            "*.webm",
            "*.jar",
            "*.exe"
        ]
    },
    {
        "depotPath": "//gh-gei/...",
        "branchConfig": [
            {
                "branch": "main"
            },
            {
                "branch": "v1.0.0"
            }
        ],
        "lfs": false
    }
]
